html, body {
  font-family: 'PT Mono', monospace;
  height: 100%;
  background: #F7F1ED;
  overflow: hidden;
}

#app {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100%;
}

.timerLengthControl {
  width: 220px;
  height: 100px;
  background: #3D5A5B;
  margin-bottom: 20px;
  color: white;
}

.timerInfo {
  display: flex;
  align-items: center;
  height: 90px;
  overflow: hidden;
}

.timerTitle {
  width: 50%;
  text-align: right;
  font-size: 20px;
}

.timerValue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 42px;
}

.timerSlider {
  height: 7px;
  width: 100%;
  appearance: none;
  border-radius: 0px;
  margin: 0px;
  background: white;
}

.disabled {
  pointer-events: none;
  background: #2F365F;
}

.timerSlider::-webkit-slider-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #2F365F;
  cursor: pointer;
}

#clock {
  width: 480px;
}

#title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

#clock-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#timer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#timer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FEBEB0;
  width: 100%;
  height: 158px;
  font-size: 86px;
  margin-right: 20px;
}

#timer-box p {
  margin: 0;
}

#timer-description {
  font-size: 24px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #2F365F;
  border-radius: 50%;
}

#timer-tools {
  display: flex;
  flex-direction: column;
}

#play-btn {
  height: 72px;
  width: 72px;
  font-size: 28px;
  cursor: pointer;
}

.fa-play {
  padding-left: 6px;
}

#restart-btn {
  height: 72px;
  width: 72px;
  margin-top: auto;
  font-size: 28px;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  #clock-inputs {
    flex-direction: column;
  }
  
  .timerLengthControl {
    width: 100%;
  }
  
  #timer-container {
    flex-direction: column;
  }
  
  #timer-tools {
    flex-direction: row;
    justify-content: center;
  }
  
  .btn {
    margin: 10px;
  }
  
  html {
    overflow: auto;
  }
  
  #app {
    margin: 0px;
  }
}