@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

:root {
  --main-color: white; 
}

body {
  background: var(--main-color);
  color: var(--main-color);
  font-family: Raleway, sans-serif;
}

#wrapper {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#quote-box {
    background: white;
    padding: 30px;
    border-radius: 4px;
}

.quote {
  display: flex;
  font-size: 24px;
  justify-content: center;
}

.fa-quote-left {
  margin: 10px;
}

#text {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

#author {
  text-align: right;
}

#buttons {
  display: flex;
  align-items: center;
}

.btn {
  background: var(--main-color);
}

.btn:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
  
.btn:focus {
  box-shadow: none;
}

.social-btn {
  width: 36px;
  height: 36px;
  border-radius: 3px;
  background: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}

#new-quote {
  text-decorations: none;
  color: white;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#credits {
  text-align: center;
  color: white;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  #wrapper {
     width: auto;
     max-width: 500px;
  }
}